# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AircraftSimulator.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Infa\Studia\Rok4\Symulacje fizyki\AircraftSimulator\.idea\.idea.AircraftSimulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
